<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sabarish Prabhu Portfolio</title>
    <link rel="stylesheet" href="./Public/Style/style.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Itim&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body class="pages">
    <center>
        <h1>Thank You for your time</h1>
        <img src="./Public/Images/thank you.jpg" width="500rem" alt="thank you image">
</center>
</body>