<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sabarish Prabhu Portfolio</title>
    <link rel="stylesheet" href="./Public/Style/style.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body class="pages">
    <center>
        <h1>Thank You for your time</h1>
        <img src="./Public/Images/thank you.jpg" width="500rem" alt="thank you image">
    </center>
</body>





